//typography
$p-font-size: 15px;

//font
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Colors
$bg-color: hsl(216, 12%, 8%);
$font-color: rgba(255, 255, 255, 1);
$primary-color: hsl(25, 97%, 53%);
$dark-blue: hsl(213, 19%, 18%);
$medium-grey: hsl(216, 12%, 54%);
$light-grey: hsl(217, 12%, 63%);
$accent-color: hsl(216, 12%, 22%);
